@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

</div>
@*CAMISAS MASCULINAS *@

<div class="container-flex">
    <div class="card" style="width: 18rem;">
        <img src="../img/camisacinza.webp" class="card-img-topc" alt="">
        <div class="card-body">
            <h5 class="card-title">Camisa Preta</h5>
            <p class="card-text">Camisa social preta, modelo slim, ideal para um look moderno e elegante.</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../img/camisamarrom.webp" class="card-img-topm" alt="o">
        <div class="card-body">
            <h5 class="card-title">Camisa Marrom</h5>
            <p class="card-text">Camiseta casual marrom, confortável e estilosa para o dia a dia.</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../img/camisaverde.webp" class="card-img-topv" alt="o">
        <div class="card-body">
            <h5 class="card-title">Camisa verde</h5>
            <p class="card-text">Camiseta básica verde, ideal para compor looks leves, versáteis e para dia a
                dia.
            </p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
</div>



<div class="container-flex">
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-topsa" alt="">
        <div class="card-body">
            <h5 class="card-title">🌊 Short Azul Claro</h5>
            <p class="card-text">Short masculino azul claro, leve e confortável. Ideal para curtir a praia,
                piscina
                ou
                passeios ao ar livre com muito estilo.</p>
            <a href="#" class="btn btn-primary">Visualiar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-topsf" alt="">
        <div class="card-body">
            <h5 class="card-title">🌿 Short Estampado</h5>
            <p class="card-text">Short masculino com estampa tropical de folhagens. Perfeito para quem busca
                conforto e
                um visual vibrante nos dias quentes.</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-topsp" alt="">
        <div class="card-body">
            <h5 class="card-title">🖤 Short Preto</h5>
            <p class="card-text">Short masculino preto com estampa floral discreta. Versátil e estiloso, ideal
                para
                praia, piscina ou compor looks casuais.</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
</div>

@*TENIS MASCULINOS *@

<div class="container-flex">
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-topTB" alt="">
        <div class="card-body">
            <h5 class="card-title">Tênis Branco Casual</h5>
            <p class="card-text">Tênis branco casual, versátil e moderno. Ideal para o dia a dia com muito
                conforto
                e
                estilo.</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-topTc" alt="">
        <div class="card-body">
            <h5 class="card-title">Tênis Esportivo Cinza</h5>
            <p class="card-text">Tênis esportivo cinza, leve e respirável. Perfeito para treinos, caminhadas ou
                uso
                casual.</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-topTv" alt="">
        <div class="card-body">
            <h5 class="card-title"> Tênis Verde Militar</h5>
            <p class="card-text">Tênis verde militar com design minimalista. Ótima opção para looks urbanos e
                casuais.</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
</div>
